---
import Layout from '../layouts/Layout.astro';
---

<Layout htmlTitle="Test Shop">
	<main>
		<h2>Home</h2>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		color: var(--accent);
		border: 1px solid var(--accent);
		padding: 32px;
	}
</style>
