---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Testing with Astro">
	<main>
		Content
	</main>
</Layout>

<style>
	main {
		grid-area: content;
		color: var(--accent);
		border: 1px solid var(--accent);
		padding: 32px;
	}
</style>
