---
import { parsePrice } from '../helpers/commerce'

interface Props {
	item: { lineItemId, title, price };
}

const { item } = Astro.props;
---

<div class="LineItem" x-data="LineItem">
	<div>
		{ item.title }
	</div>
	<div>
		£{ parsePrice(item.price) }
	</div>
	<div>
		<button x-on:click="removeItem(lineItemId)">Remove Item</button>
	</div>
</div>

<script define:vars={{ item }}>
	Alpine.data('LineItem', () => ({
		item: item,
		removeItem: (id) => {
			console.log('remove ID: ' + id)
		},
	}))
</script>

<style>
	.LineItem {
		display: flex;
		gap: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>
