---
---

<div class="Sidebar">
	<h3>
		Todays Menu
	</h3>
	<div>
		Starters
		<ul>
			<li>Garlic Bread</li>
			<li>Chicken Wings</li>
		</ul>
	</div>
	<div>
		Mains
		<ul>
			<li>Roast Chicken</li>
			<li>Pork Belly</li>
		</ul>
	</div>
	<div>
		Desserts
		<ul>
			<li>Tiramisu</li>
			<li>Pancakes</li>
		</ul>
	</div>
</div>
<style>
	.Sidebar {
		grid-area: sidebar;
		color: var(--accent);
		border: 1px solid var(--accent);
		padding: 32px;
	}
</style>
