---
import { parsePrice, calculateSubtotalFromLineItems } from '../helpers/commerce'
interface Props {
	items: Object[]
	total: Number
}

const { items, total } = Astro.props

const subtotal = calculateSubtotalFromLineItems(items)
---
<div class="Sidebar">
	<h3>
		Totals
	</h3>
	<div>Subtotal: £{parsePrice(subtotal)}</div>
	<div>Discounts: £0</div>
	<div>Total: £{parsePrice(total)}</div>
</div>
<style>
	.Sidebar {
		width: 25%;
		color: var(--accent);
		border: 1px solid var(--accent);
		padding: 32px;
	}
</style>
