---
import { parsePrice, calculateSubtotalFromLineItems } from '../helpers/commerce'
interface Props {
	items: Object[]
	total: Number
}

const { items, total } = Astro.props

const subtotal = calculateSubtotalFromLineItems(items)
---
<div class="Sidebar">
	<h3>
		Totals
	</h3>
	<div>Subtotal: £{parsePrice(subtotal)}</div>
	<div>Discounts: £0</div>
	<div>Total: £{parsePrice(total)}</div>
	<button class="Sidebar__checkout-btn">Checkout</button>
</div>
<style>
	.Sidebar {
		width: 25%;
		color: var(--accent);
		border: 1px solid var(--accent);
		padding: 32px;
	}
	
	.Sidebar__checkout-btn {
		background-color: red;
		padding: 10px 20px;
		color: white;
		border: none;
		width: 100%;
		margin-top:20px;
	}

	.Sidebar__checkout-btn:hover {
		background-color: darkred;
		cursor: pointer;
	}
</style>
